.page-intro {
  margin-bottom: 3rem;
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--text-secondary);
}

.page-content-divider {
  border-bottom: 1px solid;
  border-image: var(--dash-horizontal) 1;
  margin-inline: calc(-1 * var(--page-padding-inline));
  margin-bottom: 1.5rem;
}
